/*--HTML by Gruppe 3 (Anders, Anna, Caroline, Nadia)
UCN MMDA0920 */

@charset "uft-8";

:root {
    /* Farver */
    --color-red: #B22918;
    --color-darkblue: #1C3E56;
    --color-blue-btn: #5684B8;
    --color-darkblue-box: #648DAA;
    --color-lightblue-box: #B2CEDE;
    --color-white: #F5F5F5;


    /* Sponsor SlideShowet er strækt inspiret af: https://codepen.io/Coding_Journey/pen/yWjWKd */
    --sponsor-width: 80vw;
    --sponsor-height: 15vh;
    --sponsor-lier: 11;
    /* Man kan fri ændre display antalet i mellem 1-5. Hvis det er over 5, opstår der huller i "loop'et", og de bliver større ved stigning over 5. Man kan bruge 10, men så skal man ændre bredden på hver li (* 2). Men det giver samme resutalt som hvis man bruger display = 5*/
    --sponsor-display: 4;
    /* Skal udregne hvor brede hver element i listen skal være for at udfylde slide functionen */
    --sponsor-li-width: calc(var(--sponsor-width) / var(--sponsor-display));
    --sponsor-timing: calc(var(--sponsor-display) * 8s); /* Giver 4s til hver element*/

    /* Font */
    --font-main: 18px;
    --para-width: calc(var(--font-main) * 35);
    --para-width-banner: calc(var(--font-main) * 30);
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: var(--font-main);
}

h1, h2, h3, h4 {
    font-family: 'Archivo Narrow', sans-serif;
    letter-spacing: calc(1rem * 0.007);
    margin: 0;
    padding: 0;
}
h1 {font-size: 2rem}
h2{ font-size: 1.5rem}
h3{font-size: 1.2rem}
h4{font-size: 1rem}

p, ul li, a {
    line-height: calc(var(--font-main) * 1.4);
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
}

/* ============== */
/* Standard Setup */
/* ============== */
a {text-decoration: none;}
header {
    grid-column: 1/13;
    grid-row: 1/2;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    
    background-color: white;
}

#underNavContent{
    grid-column: 1/13;
    grid-row: 2/3;
}
main {
    grid-column: 1/13;
    grid-row: 3/4;
}
#sponsorSection {
    grid-column: 1/13;
    grid-row: 4/5;
}
footer {
    grid-column: 1/13;
    grid-row: 5/6;
}

/* Header - Navigation */
/* Login til Global Navigation */
#login {
    display: inline-block;
    padding: .3rem 0;
    width: 100%;
    height: fit-content;
    background-color: var(--color-white);
}
#login h4 {
    font-weight: normal;
    float: right;
    margin-right: 1rem;
}
/* Rest of Header */
#header img {width: auto; height: 77    px;}
#header ul li a {font-size: 1rem; color: black;}
#header ul {display: flex; justify-content: space-between; align-items: center;}
#header li {
    display: inline-block;
    padding: .4rem .8rem;
    margin-right: 4rem;
}
#header li a:hover {
    color: var(--color-red);
}
#header li:active {
    transform: scale(0.95);
}
#header li.currentPage {
    font-weight: bold;
}
#nav_BlivMedlem {
    display: inline-block;
    background-color: var(--color-blue-btn);
    border-radius: 3px;
    margin-right: 0;
}
#header #nav_BlivMedlem a {

    font-weight: 400;
    display: inline-block;
    color: white;
}
#nav_BlivMedlem.currentPage {
    background-color: var(--color-red);
}
#header nav {
    display: flex;
    padding: 0 5vw;
    height: fit-content;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(000, 000, 000, .126);
}

button[type=button] {
    background-color: var(--color-blue-btn);
    border-radius: 2px;
    padding: 0 1vw;
    border: var(--color-blue-btn) solid 8px;
    width: fit-content;
    margin: 0;
    color: white;
}
button[type=button] a {
    color: white;
}

/* ================================================ */
/* =================== FORSIDE ==================== */
/* ================================================ */
/* Forside Grid*/
#slideShow {
    grid-column: 1/13;
    grid-row: 2/3;
}
#bodyTemplate_1236 main {
    grid-column: 1/13;
    grid-row: 3/4;
}
#bodyTemplate_1236 #sponsorSection {
    grid-column: 1/13;
    grid-row: 4/5;
}
#bodyTemplate_1236 footer {
    grid-column: 1/13;
    grid-row: 5/6;
}
/* Hero SlideShow */
#clipHero {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 80vh;
    background-color: var(--color-darkblue);
    z-index: 2;
    /* Lige som med ting som margin-rækkefølge(Top, Right, Bottom, Left), det samme gælder ved clip path og 4 punkter (0 0) er Top osv. */
    clip-path: polygon(0 0, 52% 0, 100% 100%, 0% 100%);
}
#slideShow {
    position: relative;
}
#slideShow section:nth-child(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#slideShow img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.divHero {
    width: 100%;
    height: 10px;
    background-color: var(--color-white);
    margin: 0 2px;
    cursor: pointer;
}
.divHero.activeDiv {
    background-color: var(--color-red);
}
.divHero:nth-child(1) {margin-left: 0;} .divHero:nth-child(4) {margin-right: 0;}

.imgHero {
    display: none;
}
#heroTekstArea {
    position: absolute;
    z-index: 2;
    top: 30vh;
    left: 5vw;
    width: 20vw;
}
#heroTekstArea h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
#heroTekstArea > p {
    color: white;
}
.activeHero {
    display: block;
}
/* Forside - Nyheder */
#news {
    padding: 41px 5vw;
}
#news h2 {
    padding: 0 0 1rem 0;
}
#newsPost {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#forsideNewsBtn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
#forsideNewsBtn a {
    color: var(--color-red);
    text-decoration: underline;
    font-weight: bold;
    margin: 1rem;
    display: block;
}
.newsBox {
    background-color: var(--color-darkblue-box);
    display: flex;
    flex-direction: column;
}
.newsBox .newsBoxInsideSection  {
    padding: 2rem;
}
.newsBox > * {
    color: white;
}
.newsBox a {
    color: white;
    font-weight: bold;
    display: block;
    float: right;
    text-decoration: underline;
}
.newsBoxInsideSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsBox:nth-child(2) {
    margin: 0 5rem;
}
.newsBox img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Forside - Events */
#events {
    padding: 41px 0;
    background-color: var(--color-lightblue-box);
}
#events > h2 {
    padding: 1rem 5vw;
}
#eventPosts {
    padding: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#eventsSeMere{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0 5vw;
    
}
#eventsSeMere a {
    display: inline-block;
    padding: 1rem;
}
.eventBox {
    min-width: 565px;
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem;
    width: 48%;
    height: 100%;
    background-color: white;
    border-left: 9px solid var(--color-red);
    margin-top: 1rem;
}
.eventBox > h3 {
    font-size: 3rem;
    width: 20%;
}
.eventBox ul {
    padding: 0;
}
#events a {
    font-weight: bold;
    color: var(--color-red);
    text-decoration: underline;
}

/* Forside - Afdelinger */
#afdeling {
    padding: 2vw 5vw;
}
#afdeling h2 {
    margin: 1rem;
}
#afdelingFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#afdelingFlex h3 {
    font-size: 1.5rem;
}
#afdelingFlex a {
    text-decoration: underline;
    font-weight: bold;
}
.afdelingBox {
flex: 45%;
    margin: 1rem;
    position: relative;
    height: 20rem;
    background-color: var(--color-darkblue);
    
}
.afdelingBox img {
    height: 100%;
    object-fit: contain;
    float: right;
    clip-path: polygon(57% 0, 100% 0, 100% 100%, 16% 100%);

}
.afdelingTextContainer {
    padding: 2rem;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.afdelingTextContainer > * {
    color: white;
}

/* ========================= */
/* ======== Sponsor ======== */
/* ========================= */
/* Sponsor SlideShowet er stærkt inspiret af / lånt fra: https://codepen.io/Coding_Journey/pen/yWjWKd */
#sponsorSection {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw 0;
}
#sponsorSection h2{
    flex: 100%;
    text-decoration: underline;
    margin: 0 0 2rem 0;
}
#sponsorContainer {
    overflow: hidden;
    width: var(--sponsor-width);
    height: var(--sponsor-height);
    position: relative;
}
#sponsorUl:hover {
    animation-play-state: paused;
}
#sponsorUl {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    animation: sliding var(--sponsor-timing) linear infinite;
}
@keyframes sliding {
    from {transform: translateX(0);}
    to {transform: translateX(calc(-1 * var(--sponsor-li-width) * var(--sponsor-lier)));}
}
#sponsorUl li {
    align-self: top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0; /* Gør at hver LI beholder sin originalle størrelse */
    width: calc(var(--sponsor-li-width));
    max-height: 100%;
}
#sponsorUl li img {
    width: 100%;
    height: calc(var(--sponsor-height));
    border: 2px solid white;
}

/* ====================================== */
/* ============== Footer ================ */
/* ====================================== */
footer {
    background-image: url(../images/footer.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15vh 0 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer > * {
    color: white;
    font-weight: bold;
}
footer h2 {
    margin: 1rem 0;
    font-weight: normal;
}
footer a {
    color: white;
}
footer nav ul li a {
    text-decoration: underline;
}
address {
    font-style: normal;
}
footer ul {
    padding: 0;
    margin: 0;
}
#footerSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#footerSection div {
    display: flex;
}
footer img {
    width: 40px;
    height: 40px;   
    margin: 0 1rem; 
}

/* ====================================== */
/* ============ Under Navigation ======== */
/* ====================================== */
#ulUnderNav {
    display: flex;
    justify-content: space-evenly;
}

#heroLille {
    width: 100%;
    height: 33vh;
    background-color: var(--color-darkblue);
    z-index: 1;
    position: relative;
}
#heroLille > * {
    color: white;
}
#heroLille article {
    position: absolute;
    top: 30%;
    left: 35vw;
}
#heroLille article p {
    width: var(--para-width-banner);
}
#heroLille h1 {font-size: 2.2rem}
#heroLille h2 {font-size: 2.2rem}
#heroLille img {
    height: 33vh;
    display: block;
    clip-path: polygon(0 0, 74% 0, 97% 100%, 0% 100%);
}
#heroLille a {
    color: white;
    background-color: var(--color-red);
    padding: .7rem;
    border-radius: 3px;
}
#ulUnderNav {
    margin: 1rem 0 0 0; 
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #D2D2D2;
}
#ulUnderNav li:first-of-type {
    border: none;
}
#underNavContent ul li {
    text-align: center;
    width: 100%;
    border-left: solid #D2D2D2 1px;
    cursor: pointer;
}
#underNavContent ul li:hover {
    color: var(--color-red);
}
#underNavContent ul li:active {
    transform: scale(.95);
}
.selected {
    color: var(--color-red);
    font-weight: bold;
}

/* ====================================== */
/* ============ Om Klubben ============== */
/* ====================================== */
#bodyTemplate_1255 main {
    padding: 5vw;
}
#bodyTemplate_1255 span {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    transform: rotate(90deg);
    display: inline-block;
}
#referatContent span {
    transform: rotate(0deg);
}
.turnUp {
    animation: turnUp .5s ease-in-out forwards;
}
@keyframes turnUp {
    from {transform: rotate(90deg); transform-origin: center;}
    to {transform: rotate(-90deg); transform-origin: center;}
}
.turnDown {
    animation: turnDown .5s ease-in-out forwards;
}
@keyframes turnDown {
    from {transform: rotate(-90deg); transform-origin: center;}
    to {transform: rotate(90deg); transform-origin: center;}
}

/* Bestyrelsen */

#bestyrelseListe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#bodyTemplate_1255 main p {
    width:calc(var(--para-width) * 1.1);
}
#bestyrelseListe article {
    border-left: 9px solid var(--color-red);
    flex: 40%;
    height: calc(var(--font-main) * 15);
    display: flex;
    margin: 2vw 2vw 2vw 0;
}
#bestyrelseListe article img {
    object-fit: contain;
}
#bestyrelseListe article div {
    padding: 1rem;
    width: 50%
}
#bestyrelseListe article div h3 {
    margin: 1rem 0;
    font-weight: 700;
}
#bestyrelseListe h4 {
    font-family: 'Manrope', sans-serif;
    color: var(--color-red);
    font-weight: 400;
}
#bestyrelseListe article div ul {margin:1 rem 0; padding: 0;}
#bestyrelseListe article div ul li {margin:1 rem 0; padding: 0;}


/* Referat */
#referat {
    background-color: var(--color-lightblue-box);
    display: flex;
    flex-direction: column;
}
#referat > article  {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    width: 100%;
    
    height: calc(1rem * 12);
}
#referat > article > section {
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 70%;
}
#referat > article > section p {
    margin: 0;
    padding: 0;
    width: var(--para-width-banner);
}
#referat > article > * {
    z-index: 1;
}
#referatShowHideBtnDiv {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 2rem 0;
}
#referatShowHideBtnDiv button {
    height: fit-content;
}
#referat > article div.colorBoxDiv {
    position: absolute;
    top: left;
    left: 0;
    background-color: var(--color-white);
    z-index: 0;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 24% 100%);
    width: 100%;
    height: calc(1rem * 12);
}

#referatContainer {
    padding: 2vw;
}
#referatContainer section:first-of-type {
    margin-bottom: 2rem;
}

#clickReferat1, #clickReferat2 {
    padding: 1rem 1rem;
    height: fit-content;
    background-color: white;
    border-left: var(--color-red) 9px solid;
    display: flex;
    justify-content: space-between;
}
#referatContent, #GFcontent {
    background-color: var(--color-white);
    border-left: var(--color-red) 9px solid;
    padding: 1.5vw;
}
.referatFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.referatBox, .GFbox {
    flex: 40%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: white;
    border-left: var(--color-red) 9px solid;
}
.referatBox h5, .GFbox h5 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    margin: 0;
}
.referatBox a, .GFbox a {
    font-weight: 400;
    float: right;
    color: black;
    text-decoration: underline;
}
#btnDiv1, #btnDiv2 {
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
}
button[type=button]#referatBtn1, button[type=button]#referatBtnReverse1, button[type=button]#referatBtn2, button[type=button]#referatBtnReverse2 {
    background-color: var(--color-white);
    margin: 0 .3rem;
    padding: .1rem .5rem;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    border: none;
}
strong {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
}
.showContent {
    display: block;
}
.hideContent {
    display: none;
}

/* Klub Politik */
#bodyTemplate_1255 #politikListe ul {
    margin: 2rem 0;
    padding: 0;
}
#bodyTemplate_1255 #politikListe li {
    width: calc(var(--para-width) * 1.3);
    line-height: 2rem;
}
#politikIntro h2, #politikIntro h3 {
    margin: 2rem 0;
}
#politikIntro h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
#download {
    display: flex;
    justify-content: flex-end;
}
#download button {
    cursor: pointer;
}

/* Klubblad */
#yearsBlad {
    display: flex;
    flex-direction: column;
}
#year2021, #year2020, #year2019, #year2018 {
    display: flex;
    flex-direction: column;
}
#year2021 h3, #year2020 h3, #year2019 h3, #year2018 h3 {
    margin: 1.5rem 0;

}
#yearsBlad .klubbladArticle, #historieBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 35vw;
    height: 3rem;
    margin-bottom: 2vw;
    border-left: 9px solid var(--color-red);
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
#yearsBlad .klubbladArticle h4 {
    font-weight: 400;
}
#yearsBlad .klubbladArticle a {
    color: black;
    text-decoration: underline;
}

/* Historie */
#historieFlex {
    display: flex;
    justify-content: space-between;
}
#historieGalleri {
    width: 30%;
    display: flex;
    flex-direction: column;
}
#historieIntro h2 {
    margin: 2rem 0;
}
#historieBtn a {
    color: black;
    text-decoration: underline;
}
#aeresMedlemmer {
    margin: 10vh 0;
    display: flex;
    flex-wrap: wrap;
}
#aeresMedlemmer div {
    display: flex;
    flex: 24%;
    position: relative;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 2vw;
}

#aeresMedlemmer div p {
    width: fit-content;
    margin: 0;
    padding: 0 0 0 calc(.5rem + 9px);
    height: 2rem
}
#aeresMedlemmer div h3 {
    width: fit-content;
    margin: 0;
    border-left: var(--color-red) 9px solid;
    padding: 0 0 0 .5rem;
    height: 2.5rem
}

/* ====================================== */
/* ============ Afdelinger ============== */
/* ====================================== */

#bodyTemplate_1257 #afdelingFlex {
    padding: 0 5vw;
}
#bodyTemplate_1257 .afdelingBox {
    margin-left: 0;
    margin-right: 2rem;
}
div.krumme {
    padding: 1.5rem 0;
}
#bodyTemplate_1257 div.krumme {
    padding: 1.5rem 5vw;
}
div.krumme a {
    color: black;
    text-decoration: underline;
}
#afdelingerIntro {
    padding: 0 5vw;
    margin: .5rem 0 3rem 0;
}

/* ====================================== */
/* ============ SNV UNGDOM ============== */
/* ====================================== */
#bodyTemplate_1720 main {
    padding: 0 5vw;
}
#ungUnderIntro {
    display: flex;
    margin: 5rem 0;
    justify-content: space-between;

}
#ungUnderIntro ul {
    padding: 0;
}
#ungUnderIntro ul li {
    list-style-type: disc;
    margin-left: 40px;
}
#ungUnderIntro ul li:first-of-type {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: calc(1.2rem * 0.007);
    font-family: 'Archivo Narrow', sans-serif;
    list-style-type: none;
}
#ungUnderIntro ul li:last-of-type {
    margin: 1rem 0 0 20px;
    list-style-type: none;
}
#ungAldersgruppe1, #ungAldersgruppe2 {
    position: relative;
    background-color: var(--color-white);
    height: 15rem;
    z-index: 0;
    margin: 0 0 4rem 0;
}
#ungAldersgruppe1 img, #ungAldersgruppe2 img {
    position: absolute;
    top: 0;
    right: 0;
    height: 15rem;
    width: 100;
}
#ungAldersgruppe1 div.blueBoxUngUnder, #ungAldersgruppe2 div.blueBoxUngUnder {
    position: absolute;
    height: 100%;
    width: 18%; 
    background-color: var(--color-lightblue-box);
    clip-path: polygon(0 0, 77% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#ungAldersgruppe1 div.pBoxDivUng, #ungAldersgruppe2 div.pBoxDivUng {
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#ungAldersgruppe1 p, #ungAldersgruppe2 p {
    width: var(--para-width);
}
#ungAldersgruppe1 h3, #ungAldersgruppe1 h4, #ungAldersgruppe2 h3, #ungAldersgruppe2 h4 {
    color: white;
}
#ungAldersgruppe1 h3, #ungAldersgruppe2 h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#ungAldersgruppe1 h4, #ungAldersgruppe2 h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.ungSprgSection {
    padding-left: 1rem;
    border-left: var(--color-red) 9px solid;
}

/* Stævne */
#ungStaevneIntro {
    display: flex;
    justify-content: space-between;
}
#ungStaevneIntro h2, #ungStaevneIntro h3 {
    margin: 1rem 0;
}
#ungStaevneIntro p {
    width: var(--para-width);
}
#staevne_1 {
    position: relative;
    background-color: var(--color-white);
    margin: 5rem 0;
}
#staevne_1Intro {
    height: 10rem;
}
#staevne_1Intro > article {
    position: absolute;
    width: 70%;
    height: 10rem;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
#staevne_1Intro > article p {
    width: var(--para-width);
    padding-top: 2rem;
}
#staevne_1Intro > article div {
    display: flex;
    height: 10rem;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem 1rem;
}
.blueBoxUngStaevne {
    position: absolute;
    height:10rem;
    width: 18rem;
    background-color: var(--color-lightblue-box);
    clip-path: polygon(0 0, 77% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    flex-direction: column;
}
.blueBoxUngStaevne h3 {
    font-size: 1.5rem;
    width: 50%;
    margin-bottom: 1rem;
}
.blueBoxUngStaevne h4 {
    font-weight: 400;
}

#staevneContent_1  {
    background-color: var(--color-lightblue-box);
}
div#staevneFlexDiv {
    display: flex;
    justify-content: space-between;
}

#staevneContent_1 article {
    width: 30%;
    padding: 3rem;
}

#staevneContent_1 article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border-left: 9px solid var(--color-red);
    background-color: white;
}
#staevneContent_1 article.ungStaevnePraktiskInfo a {
    color: white;
    display: inline-block;
    background-color: var(--color-blue-btn);
    padding: .5rem 2rem;
    border-radius: 3px;
    margin-top: 5rem;
}
#staevneContent_1 article div.ungStaevneBox a {
    color: black;
    text-decoration: underline;
}

/* Info til Forældre */
#infoIntro {
    display: flex;
    justify-content: space-between;
    height: 30rem;
}
#infoIntro article:first-of-type {
    width: 60%;
}
#infoIntro article:first-of-type > * {
    margin: 1rem 0;
}
#infoIntro article:first-of-type p {
    width: var(--para-width);
}
#infoIntro article:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkblue-box);
    width: 40%;
    clip-path: polygon(20% 1%, 100% 0, 100% 100%, 7% 100%);
}
#infoIntro article:last-of-type h2 {
    font-weight: 600;
    color: white;
}
#infoIntro article:last-of-type ul {
    padding: 0;
}
#infoIntro article:last-of-type ul li {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    list-style-type: disc;

    margin: 10px 20px;
}
#infoInfo {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    border-left: 9px solid var(--color-red);
    margin: 5vw 0;
}
#infoInfo > article {
    padding: 2rem;
}
#infoInfo p {
    width: var(--para-width);
}

/* ====================================== */
/* ============ Sejlerskolen ============ */
/* ====================================== */
#bodyTemplate_1799 .krumme {
    padding: 1.5rem 5vw;
}
#bodyTemplate_1799 .ungSprgSection {
    margin: 0 5vw;
}
#bodyTemplate_1799 .ungSprgSection ul {
    padding: 0;
}
#bodyTemplate_1799 .ungSprgSection a {
    color: black;
}
 #introSejlUndervisning, #sejlNyeIntro, #sejlErfarendeIntro  {
     display: flex;
     justify-content: space-between;
     height: 30rem;
    padding: 0 5vw;
    margin: 5rem 0;
 }
#introSejlUndervisning article:first-of-type, #sejlNyeIntro article:first-of-type, #sejlErfarendeIntro article:first-of-type {
    width: 50%;
}
#introSejlUndervisning article:first-of-type > *, #sejlNyeIntro  article:first-of-type > *, #sejlErfarendeIntro article:first-of-type > * {
    margin: 1rem 0;
}
#introSejlUndervisning article:first-of-type p, #sejlNyeIntro article:first-of-type p, #sejlErfarendeIntro article:first-of-type p {
    width: var(--para-width);
}
#sejlErfarendeIntro article:first-of-type li {
    list-style-type: disc;
}
#introSejlUndervisning article:last-of-type, #sejlNyeIntro article:last-of-type, #sejlErfarendeIntro article:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-darkblue-box);
    width: 50%;
    clip-path: polygon(20% 1%, 100% 0, 100% 100%, 7% 100%);
}
#introSejlUndervisning article:last-of-type, #sejlNyeIntro article:last-of-type, #sejlErfarendeIntro article:last-of-type {
    padding-left: 5rem;
}
#introSejlUndervisning article:last-of-type h2, #sejlNyeIntro article:last-of-type h2,#sejlErfarendeIntro article:last-of-type h2 {
    font-weight: 600;
    color: white;
}
#introSejlUndervisning article:last-of-type p, #sejlNyeIntro article:last-of-type li, #sejlErfarendeIntro article:last-of-type li {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    list-style-type: disc;
    width: var(--para-width-banner);
}

#galleriSejlUndervisning {
    padding: 0 5vw;
}

#galleriSejlUndervisning > section {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
#galleriSejlUndervisning > section article > img {
    border-left: 9px solid var(--color-red);
}
#galleriSejlUndervisning > section article > div {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}
#galleriSejlUndervisning > section article > div ul {
    padding: 0;
    margin: 0;
}


#nyeSejlUndervisning, #erfarendeSejlUndervisning {
    position: relative;
    background-color: var(--color-white);
    height: 15rem;
    z-index: 0;
    
    margin: 4rem 5vw;
}
#nyeSejlUndervisning img, #erfarendeSejlUndervisning img {
    position: absolute;
    top: 0;
    right: 0;
    height: 15rem;
    width: 100;
}
#nyeSejlUndervisning div.blueBoxUngUnder, #erfarendeSejlUndervisning div.blueBoxUngUnder {
    position: absolute;
    height: 100%;
    width: 18%; 
    background-color: var(--color-lightblue-box);
    clip-path: polygon(0 0, 77% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#nyeSejlUndervisning > article, #erfarendeSejlUndervisning > article {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#nyeSejlUndervisning p, #erfarendeSejlUndervisning p {
    width: var(--para-width);
}
#nyeSejlUndervisning button, #erfarendeSejlUndervisning button {
    color: var(--color-red);
    background-color: var(--color-white);
    border: none;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
#nyeSejlUndervisning h3, #nyeSejlUndervisning h4, #erfarendeSejlUndervisning h3, #erfarendeSejlUndervisning h4 {
    color: white;
}
#nyeSejlUndervisning h3, #erfarendeSejlUndervisning h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#nyeSejlUndervisning h4, #erfarendeSejlUndervisning h4 {
    font-size: 1.5rem;
    
} 

.blueBox {
    padding: 2vw 5vw;
    background-color: var(--color-lightblue-box);
    display: flex;
    justify-content: space-between;
}
#linkArea {
    margin-right: 3rem;
}
#linkArea article {
    margin: 1rem 0;
}
#linkArea article::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 3px;
    background-color: var(--color-red);
    margin-right: 15px;
}
#linkArea article a {
    color: var(--color-red);
    text-decoration: underline;
    font-weight: 700;
}
#linkArea article p {
    margin: 0 0 0 30px;
    width: 100%;
}
#appArea, #linkArea {
    background-color: white;
    padding: 2rem;
    border-left: 9px solid var(--color-red);
    width: 50%;
}
#appArea p, #linkArea p {
    width: var(--para-width-banner);
}
#appAreaContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
}
#appAreaContainer article {
    width: 50%;
}
#appAreaContainer article div {
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
}
#appAreaContainer article div a {
    display: block;
    margin: 0 1rem;
    width: 40%;
}
#appAreaContainer article div a img {
    border-bottom: 3px solid var(--color-red);
    padding: 0 0 5px 0;
}

/* ========================================= */
/* ============== BLIV MEDLEM ============== */
/* ========================================= */

/* Conventus */
#bodyTemplate_1261 main {
    padding: 5vw;
}
#bodyTemplate_1261 #blivMedlemConventusOutro article {
    border-left: 9px var(--color-red) solid;
    padding-left: 1rem;
    margin: 4rem 0;
}
#bodyTemplate_1261 #blivMedlemConventusOutro article p {
    width: var(--para-width);
    margin: 1.5rem 0;
}
#bodyTemplate_1261 #blivMedlemConventusOutro article a {
    color: black;
}

/*---------- Medlemstype */
#blivMedlemOpret {
    margin: 5rem 0;
}
#blivMedlemOpret section:first-of-type {
    margin-bottom: 2rem;
}
article.medlemsType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    height: 8rem;
    padding-right: 2rem;
    background-color: var(--color-white);
}
.medlemsType p {
    width: var(--para-width-banner);
}
.medlemsType a {
    color: white;
    background-color: var(--color-blue-btn);
    padding: .5rem 1.5rem;
    border-radius: 3px;
}
.medlemsType .blueShape {
    background-color: var(--color-lightblue-box);
    height: 8rem;
    width: 10rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 64% 0, 100% 100%, 0 100%);
    padding: 1rem;
}
.medlemsType .blueShape h3 {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 700;
}

/* Tilmelding */



#tilStep article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    height: 8rem;
    padding-right: 2rem;
    background-color: var(--color-white);
}
#tilStep article .emptySpace {
    width: 100px;
    height: 1px;
}
#tilStep p {
    width: var(--para-width-banner);
}
#tilmeldingIntro a {
    color: var(--color-blue-btn);
    text-decoration: underline;
}
#tilStep #tilStepBtn1 {
    color: white;
    padding: .5rem 1.5rem;
    background-color: var(--color-blue-btn);
    border-radius: 3px;
    text-decoration: none;
}
#tilStep a {
    color: var(--color-blue-btn);
    text-decoration: underline;
}
#tilStep .blueShapeStep {
    background-color: var(--color-lightblue-box);
    height: 8rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 64% 0, 100% 100%, 0 100%);
    padding: 1rem;
}
#tilStep .blueShapeStep h3 {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 700;
}



/* ----------- Tilmeldings Kasser */
#tilmeldBox1, #tilmeldBox2, #tilmeldBox3, #tilmeldBox4 {
    position: relative;
    background-color: var(--color-white);
    margin: 5rem 0;
}
#tilmeldBox1 article.tilmeldAfdelingIntro, #tilmeldBox2 article.tilmeldAfdelingIntro, #tilmeldBox3 article.tilmeldAfdelingIntro, #tilmeldBox4 article.tilmeldAfdelingIntro {
    position: relative;
    height: 10rem;
}
#tilmeldBox1 article.tilmeldAfdelingIntro > article, #tilmeldBox2 article.tilmeldAfdelingIntro > article, #tilmeldBox3 article.tilmeldAfdelingIntro > article, #tilmeldBox4 article.tilmeldAfdelingIntro > article {
    position: absolute;
    width: 70%;
    height: 10rem;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
#tilmeldBox1 article.tilmeldAfdelingIntro > article p, #tilmeldBox2 article.tilmeldAfdelingIntro > article p, #tilmeldBox3 article.tilmeldAfdelingIntro > article p, #tilmeldBox4 article.tilmeldAfdelingIntro > article p {
    width: var(--para-width);
    padding-top: 2rem;
}
#tilmeldBox1 article.tilmeldAfdelingIntro > article div, #tilmeldBox2 article.tilmeldAfdelingIntro > article div, #tilmeldBox3 article.tilmeldAfdelingIntro > article div, #tilmeldBox4 article.tilmeldAfdelingIntro > article div {
    display: flex;
    height: 10rem;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem 1rem;
}
#bodyTemplate_1261 div.blueBoxUngStaevne h2 {
    font-size: 1.4rem;
    width: 90%;
    margin-bottom: 1rem;
}
#bodyTemplate_1261 div.blueBoxUngStaevne h3 {
    font-size: 1.2rem;
    width: 70%;
    font-weight: 400;
}
/* Indhold til Tilmeldings Kasser */
.showHideInner {
    background-color: var(--color-lightblue-box);
    padding: 2rem;
}
.showHideInner .ramme {
    background-color: white;
    border-left: 9px solid var(--color-red);
    margin: 2rem 0;
}
.showHideInner .ramme article.clickBoxArticle {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}
.showHideInner .ramme article.clickBoxArticle strong {margin-right: 2rem;}
.showHideInner .ramme article.rammeContent {
    background-color: var(--color-white);
    padding: 1rem 3rem;
}
.showHideInner .ramme article.rammeContent h4 {
    font-size: 1.3rem;
}
.showHideInner .ramme article.rammeContent ul {
    padding: 0;
    margin: 0;
}
.showHideInner .ramme article.rammeContent article {
    display: flex;
    justify-content: space-between;
}
.showHideInner .ramme article.rammeContent article li {
    margin: 1rem 0;
}
.showHideInner .ramme article.rammeContent article a {
    color: white;
    display: inline-block;
    width: fit-content;
    background-color: var(--color-blue-btn);
    padding: .5rem 1.5rem;
    border-radius: 3px;
}
.showHideInner .ramme article.rammeContent article .ul2Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#tilmeldBox2 a {
    height: fit-content;
}
button#showBtn1 span, button#showBtn2 span, button#showBtn3 span,button#showBtn4 span   {
    margin-left: .5rem;
}








#bodyTemplate_1261 span {
    transform: rotate(-90deg);
    /* Normalt ville span være et inline element */
    display: inline-block;
}
i {
    font-weight: bold;
    font-style: normal;
}















.infoBox {
    width: 86vw;
    height: 15vw;
    margin: 0;
    background-color: #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3vw;
}

.infoBox p {
    width: 30vw;
}

.skraaBox {
    display: block;
    width: 20vw;
    height: 15vw;
    padding: 5vw 3vw;
    clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
}

.skraaBox.stævne {
    padding-top: 3vw;
}

.skraaBox ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.lysblaa {
    background-color: #B2CEDE;
}

.contentBox {
    display: block;
    width: 86vw;
    height: fit-content;
    margin-top: -1px;
    margin-bottom: 2vw;
    padding: 3vw;
}



/* klub politik */

/* klubblad */

.dokumentListe{
    display: block;
    margin-bottom: 2vw;
}

/* Historie */

.historie {
    display: flex;
    justify-content: space-between;
}

.historieText {
    width: 40vw;
    height: fit-content;
}

.historieText .dokumentBox {
    margin-bottom: 6vw;
    margin-top: 2vw;
}


.historieImg {
    width: 20vw;
    width: fit-content;
}

.historieImg div {
    background-color: black;
    margin: 2vw 0;
    width: 30vw;
    height: 20vw;
}

.aeresmedlem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aeresmedlemBox {
    width: 20vw;
    margin-bottom: 2vw;
    border-left: 9px solid #B12818;
    padding: 1vw;
}



.padding {
    padding: 1vw 7vw;
}




.infoStor {
    display: flex;
    justify-content: space-between;
    margin: 2vw 0;
    width: 100%;
}

.skraaBoxStor {
    display: block;
    width: 50vw;
    height: 31vw;
    padding-left: 20vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
}
.skraaBoxText {
    width: 27vw;
}
.skraaBoxStor ul {
    padding-left: 1.2vw;
}

.infoStorBoxText {
    width: 30vw;
    height: 31vw;
}

.infoStorBoxText h2 {
    margin-top: 0;
}
.infoStorBoxText h3 {
    margin-top: 3vw;
}




.textAfdeling {
    width: 42vw;
    height: 20vw;
    background-color: #1C3E56;
    border: none;
    clip-path: polygon(0 0, 75% 0, 25% 100%, 0% 100%);
}



/* Afdelinger */


.infoBoxAfdeling {
    width: 86vw;
    height: 15vw;
    margin: 4vw 0;
    background-color: #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
}

.infoBoxAfdeling p {
    width: 35vw;
}

.skraaBoxAfdeling {
    display: block;
    width: 20vw;
    height: 15vw;
    padding: 3.5vw 3vw;
    clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
}



.contentBoxStævne {
    display: flex;
    justify-content: space-between;
    width: 86vw;
    height: fit-content;
    margin-top: -1px;
    margin-bottom: 2vw;
    padding: 3vw;
}

.contentBoxStævne section {
    width: 21vw;
}

.dokumentBoxStævne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 4vw;
    margin-bottom: 2vw;
    background-color: #ffffff;
    border-left: 9px solid #B12818;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.dokumentBoxStævne p {
    margin: 1vw;
}

.foraeldreinfo {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    border-left: 9px solid #B12818;
    background-color: #F5F5F5;
    padding: 1vw;
    margin: 3vw 0;
}

.foraeldreinfoText {
    width: 60vw;
}

/* sejlerskole */
.baadliste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.baadBox {
    width: 18vw;
    height: 18vw;
    border-left: 9px solid #B12818;
    background-color: black;
}
.baadBoxText {
    display: flex;
    justify-content: space-between;
    width: 18vw;
}

.linkBox {
    display: inline-block;
    width: 42vw;
    height: 30vw;
    background-color: #ffffff;
    border-left: 9px solid #B12818;
}


/* nyheder */

.margin {
    margin-bottom: 2vw;
}

#nyhedsside {
    padding: 3vw 17vw;
}

.nyhed {
    display: flex;
    flex-direction: column;
    padding: 3vw 17vw;
}

.imgNyhed {
    background-color: black;
    height: 30vw;
}

.forfatter {
    padding: 1vw 1vw;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

/* begivenheder */

/* bliv medlemsside */
.button.aktivButton{ 
    /* begge classes sættes på uden mellemrum, så det kun gælder for elementer med begge classes */
    background-color: #B12818;
    border: #B12818 solid 8px;
}

.infoTilmeld {
    width: 50vw;
    height: fit-content;
    padding-left: 1vw;
    border-left: 9px solid #B12818;
    margin: 3vw 0;
}

.infoBoxTilmeld {
    width: 60vw;
    height: 8vw;
    margin-bottom: 2vw;
    background-color: #E3E3E3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.infoBoxTilmeld p {
    width: 30vw;
    margin: 0 4vw;
}

.skraaBoxTilmeld {
    display: block;
    width: 10vw;
    height: 8vw;
    padding: 1.5vw 2vw;
    clip-path: polygon(0 0, 63% 0, 100% 100%, 0% 100%);
}

/* Mentor */

/* Begivenheder */
.marginEvent {
    margin: 2vw 0;
}

#begivenheder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.eventPostLille{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.eventBoxLille{
    display: inline-block;
    width: 30vw;
    height: 12vw;
    background-color: #ffffff;
    border-left: 9px solid #B12818;
}

.eventBoxLille:first-child{
    margin-top: 0;
}

.eventBoxStor {
    display: inline-block;
    width: 52vw;
    height: 39vw;
    background-color: #ffffff;
    border-left: 9px solid #B12818;
}



li {
    list-style: none;
}
/* Skrifter til næste linje, bruges i stedet for /br. Bruger span i stedet. Inspiration fra: https://css-tricks.com/injecting-line-break/*/
.spanTable {
    display: table;
}
#heroSlideShow img {
    width: 50px;
    height: auto;
}
#heroSlideShow li {
    display: inline-block;
}

#header .currentPage a {
    color: var(--color-red);
}
.hideReferat {
    display: none;
}


/* ======================== */
/* ====== BurgerMenu ====== */
/* ======================== */
.burger {
    width: 40px;
    height: 4px;
    margin: 5px;
    background-color: var(--color-darkblue);
    border-radius: 5px;
}
#curtain {
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
}
#burgerNav {
    font-size: 2rem;
    opacity: 0;
    display: none;
}
#burgerNav li {
    margin: 1rem;
}
#burgerNav li a {
    color: var(--color-darkblue);
}
#burgerBtn {
    z-index: 10;

    position: fixed;
    top: 10px;
    right: 11px;
}

/* BurgerIcon animationen er taget fra (Og ændret til at passe til dette produkts indhold) et tidligere project af:  Gruppe 3 - mmda0920 - Sem2Tem3 (Anders, Caroline, Ida-Sofie, Simone): https://mmd.ucn.dk/class/mmda0920/1086088/Sem2/Tem3/Rubrics/Englerod-Gruppe3/*/
/* Animation In */
#topLayer.burgerBtnStart {
    animation: div1In 0.7s ease forwards;
}
#midLayer.burgerBtnStart {
    animation: div2In 0.7s ease forwards;
}
#botLayer.burgerBtnStart {
    animation: div3In 0.7s ease forwards;
}
@keyframes div1In {
    0% {transform: translateY(0);}
    20% {transform: translateY(16px);}
    100% {transform: translateY(10px) rotateZ(-45deg);}
}
@keyframes div2In {
    0% {transform: translateY(0);}
    20% {transform: translateY(8px);}
    100% {transform: translateY(1px) rotateZ(45deg);}
}
@keyframes div3In {
    50% {width: 30px;}
    51% {width: 0; opacity: 0;}
    100% {width: 0; opacity: 0;}
}
/* Animation Out */
#topLayer.burgerBtnEnd {
    animation: div1Out 0.7s ease forwards;
}
#midLayer.burgerBtnEnd {
    animation: div2Out 0.7s ease forwards;
}
#botLayer.burgerBtnEnd {
    animation: div3Out 0.7s ease forwards;
}
@keyframes div1Out {
    0% {transform: translateY(10px) rotateZ(-45deg);}
    80% {transform: translateY(16px);}
    100% {transform: translateY(0);}
}
@keyframes div2Out {
    0% {transform: translateY(1px) rotateZ(45deg);}
    80% {transform: translateY(8px);}
    100% {transform: translateY(0);}
}
@keyframes div3Out {
    0% {width: 0; opacity: 0;}
    79% {width: 0; opacity: 0;}
    80% {width: 30px;}
}

/* - Animation  til Curtain */
.hideCurtain {
    animation: hideCurtain 1s ease-in-out forwards;
}
@keyframes hideCurtain {
    from {width: 100vw;}
    to {width: 0;}
}
.showCurtain {
    animation: showCurtain 1s ease-in-out forwards;
}
@keyframes showCurtain {
    from {width: 0;}
    to {width: 100vw;}
}
#burgerNav.showNav {
    animation: showNav 1s ease-in-out forwards;
}
@keyframes showNav {
    60% {opacity: 0;}
    100% {opacity: 1;}
}
#burgerNav.hideNav {
    animation: hideNav 1s ease-in-out forwards;
}
@keyframes hideNav {
    0% {opacity: 1;}
    60% {opacity: 0;}
}







/* Loading Screen  */
#loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#loadingH2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 80px;
    height: 100px;
    color: var(--color-red);
}
#loadingDotBox {
    height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 17px 10px;
}
.load1, .load2, .load3 {
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--color-red);
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.load1 {
    animation-name: load1;
}
.load2 {
    animation-name: load2;
}
.load3 {
    animation-name: load3;
}

@keyframes load1 {
    0% {transform: scale(1);}
    16.5% {transform: scale(1.4);}
    33% {transform: scale(1);}
}
@keyframes load2 {
    33% {transform: scale(1);}
    49.5% {transform: scale(1.4);}
    66% {transform: scale(1);}
}
@keyframes load3 {
    66% {transform: scale(1);}
    79.5% {transform: scale(1.4);}
    100% {transform: scale(1);}
}

/* Burger Menu */