/*--HTML by **********
UCN MMDA0920 */

@charset "uft-8";
* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    border: none;
    position: sticky;
    top: 0;
    background-color: white;

    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

a {
    text-decoration: none;
    color: black;
}


.hero {
grid-column: 1/13;
grid-row: 2/3;
}

.textBoxHero {
    width: 40vw;
    height: 45vw;
    background-color:  #1C3E56;
    border: none;

    clip-path: polygon(0 0, 52% 0, 100% 100%, 0% 100%)
}

main {
    grid-column: 1/13;
    grid-row: 3/4;
}

.news{
    width: 100%;
    height: auto;
    padding: 5vw;
}

.newsPosts, .eventPost, .afdelingFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newsBox {
    display: inline-block;
    width: 27vw;
    height: 35vw;

    background-color: #648DAA;
}

.events {
    width: 100%;
    height: auto;
    padding: 5vw;
    background-color: #B2CEDE;
}

.eventBox {
    display: inline-block;
    width: 43vw;
    height: 20vw;

    background-color: #ffffff;
    border-left: 9px solid #B12818;
}

.afdeling{
    padding: 5vw;
}

.afdelingBox{
    width: 43vw;
    height: 20vw;
    margin-bottom: 5vw;
    
    background-color: black;
}

.textAfdeling{
    width: 43vw;
    height: 20vw;
    background-color:  #1C3E56;
    border: none;
    clip-path: polygon(0 0, 75% 0, 25% 100%, 0% 100%);
}


