/*--HTML by Gruppe 3 (Anders, Anna, Caroline, Nadia)
UCN MMDA0920 */

@charset "uft-8";
* {box-sizing: border-box;}
:root {
    /* Farver */
    --color-red: #B22918;
    --color-darkblue: #1C3E56;
    --color-blue-btn: #5684B8;
    --color-darkblue-box: #648DAA;
    --color-lightblue-box: #B2CEDE;
    --color-white: #E3E3E3;
}

li {
    list-style: none;
}
/* Skrifter til næste linje, bruges i stedet for /br. Bruger span i stedet. Inspiration fra: https://css-tricks.com/injecting-line-break/*/
.spanTable {
    display: table;
}
#heroSlideShow img {
    width: 50px;
    height: auto;
}
#heroSlideShow li {
    display: inline-block;
}
header img {
    height: 150px;
    width: auto;
}
a {
    color: black;
}
.currentPage a {
    color: var(--color-red);
}
.hideReferat {
    display: none;
}


#referatBtn, #referatBtnReverse {
    /* background-color: #e35; */
    font-size: 15px;
    font-weight: bold;
    border: none;
}
.showContent {
    display: block;
}
.hideContent {
    display: none;
}

#clickReferat1 {
    background-color: blueviolet;
}
#clickReferat2 {
    background-color: blueviolet;
}

#bodyTemplate_1261 span {
    transform: rotate(-90deg);
    /* Normalt ville span være et inline element */
    display: inline-block;
}
i {
    font-weight: bold;
    font-style: normal;
}

.divHero {
    background-color: #e42;
    width: 100px;
    height: 10px;
    margin: 30px;
}


.imgHero {
    background-color: coral;
    
    display: none;
}
.imgHero:nth-child(2) {
    background-color: #1C3E56;
}
.imgHero:first-of-type {
    background-color: pink;
}
.imgHero:last-of-type {
    background-color: #4ee;
}
.activeHero {
    display: block;
}